@model EmployeeModel

@{
    ViewData["Title"] = "Save";
}

    <h1 class="display-4">Save</h1>
<form asp-action="Save" asp-controller="EmployeeControl" method="post">

    <div class="mb-3">
        <label>RFC:</label><input asp-for="Name" type="text" class="from-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Name:</label><input asp-for="LastName" type="text" class="from-control">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Lastname: </label><input asp-for="RFC" type="text" class="from-control">
        <span asp-validation-for="RFC" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>BornDate: </label><input asp-for="BornDate" type="date" class="from-control">
        <span asp-validation-for="BornDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Status: 
        </label><select  asp-for="Status" id="=select">
            <option selected value="NotSet">NotSet</option>
            <option value="Inactive">Inactive</option>
            <option value="Active">Active</option>
        </select>
    </div>

    <br/>
    <br/>
    <button type="submit">Save employee</button>
    <br/>
    <br/>
    <a asp-action="List" asp-controller="EmployeeControl">back to list</a>
</form>
<hr/>
