@{
    ViewData["Title"] = "Employee";
}

<div class="text-center">
    
    <h1 class="display-4">Welcome</h1>
    
    <label>RFC: </label><input type="tex">
    <label>Name: </label><input type="tex">
    <label>Lastname: </label><input type="tex">
    <label>BornDate: </label><input type="date">
    <br/>
    <br/>
    <div>
        <button>search employee</button>
        <button>create employee</button>
    </div>
    <hr/>
</div>
